        filebeat.inputs:
        - type: log
          enabled: true
          paths:
            - /var/log/nginx/access.log
            - /var/log/nginx/error.log

        output.elasticsearch:
          hosts: ["YOUR_ELASTICSEARCH_HOST:9200"]
