        Server=YOUR_ZABBIX_SERVER_IP_OR_FQDN                       # IP ZABBIX_SERVER
        ServerActive=YOUR_ZABBIX_SERVER_IP_OR_FQDN                 # IP ZABBIX_SERVER
        Hostname={{ ansible_hostname }}
